body {
    margin: 10px;
}

p {
    color: blue;}

.first {
    font-size: 140%;
    font-style: italic;
    color: red;
}

/* TThis is a pseudo class selector */
article : first-child {
    color: green;
}

/* This is a pseudo element selector */
