body {
margin: 10px;
}

p {
    color: orangered;
  }

  #products {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: left;
  }

  .products {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: left;
  }

    /* This is a way to select all anker objects or URL's that have the attribute target in it  */

  a[target] {
    color: red;
  }


  /* This is a way to select all anker objects or URL's that have the word google in it  */

  a[href*"google"] {
    color: orange;
  }

/* This is a way to select all anker objects or URL's starting with https */

  a[href^="https"] {
    color: green;
  }

  /* This is a way to select all anker objects or URL's starting with https and ending with .com */

  a[href^="https:"][href$="com"] {
    color: blue;
  }